# Node.js dependencies
node_modules/

# Logs
*.log

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Test coverage reports
coverage/

# Temporary files
*.tmp
*.swp

.bashrc